name: Manual Release

on:
    workflow_dispatch:

permissions:
    contents: write

env:
    GH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
    build-windows:
        runs-on: windows-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                  path: ~/.bun/install/cache
                  key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
                  restore-keys: |
                      ${{ runner.os }}-bun-

            - name: Get version from package.json
              id: package_version
              shell: pwsh
              run: |
                  $version = bun -p 'require("./package.json").version'
                  Add-Content -Path $env:GITHUB_OUTPUT -Value "version=$version"

            - name: Output version
              run: echo v${{ steps.package_version.outputs.version }}

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Build application
              run: bun run build --win

            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: windows-release
                  path: release/
                  retention-days: 7

            - name: Create Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: v${{ steps.package_version.outputs.version }}
                  name: v${{ steps.package_version.outputs.version }}
                  files: release/*.exe
                  draft: false
                  generate_release_notes: true
                  prerelease: false
